# Port for backend server
PORT=3001

# SMTP Email Configuration (Gmail / Outlook / Custom SMTP)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=harshavardhanreddy1910848@gmail.com
SMTP_PASS=your_gmail_app_password

# Neon PostgreSQL Database Configuration (Exclusive Cloud Database)
DATABASE_URL=postgresql://neondb_owner:npg_4wbWrnqgNc3V@ep-cool-grass-aorbu4fo-pooler.c-2.ap-southeast-1.aws.neon.tech/neondb?sslmode=require
